<?xml version="1.0"?>
<robot xmlns:xacro="https://wiki.ros.org/xacro" name="myur10">
  <link name="world"/>

  <link name="pedestal">
    <inertial>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <mass value="20"/>
      <inertia ixx="200" ixy="200" ixz="200" iyy="200" iyz="300" izz="200"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="1"/>
      </geometry>
      <material name="Gray">
        <color rgba="0.5 0.5 0.5 0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="1"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="pedestal">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Orange</material>
  </gazebo>

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="pedestal" />
    <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
  </joint>

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <!--common stuff-->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <!--ur10-->
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />
  <!--arm-->
  <xacro:ur10_robot prefix="" joint_limited="true"
    transmission_hw_interface="$(arg transmission_hw_interface)" />

  <joint name="base_joint" type="fixed">
    <parent link="pedestal" />
    <child link ="base_link" />
    <origin xyz="0 0 1" rpy="0.0 0.0 0.0"/>
  </joint>

</robot>
    
   
